# DataTech Labs
### Hands-on: Python for Data Engineers

-------------------------------------------------------------------------------
#### Exercise 1: Python Basics
Task 1: Basic Arithmetic Operations

Description: Introduce basic arithmetic operations in Python. Students will learn how to perform addition, subtraction, multiplication, division, and modulo operations.

In [1]:
# Basic Arithmetic Operations
a = 10
b = 3

# Addition
sum_ab = a + b
print("Sum:", sum_ab)

# Subtraction
diff_ab = a - b
print("Difference:", diff_ab)

# Multiplication
prod_ab = a * b
print("Product:", prod_ab)

# Division
div_ab = a / b
print("Division:", div_ab)

# Modulo
mod_ab = a % b
print("Modulo:", mod_ab)

Sum: 13
Difference: 7
Product: 30
Division: 3.3333333333333335
Modulo: 1

Task 2: Working with Strings

Description: Students will learn how to handle strings in Python, including concatenation, slicing, and basic string methods.

In [3]:
# String Operations
first_name = "Data"
last_name = "Engineer"

# Concatenation
full_name = first_name + " " + last_name
print("Full Name:", full_name)

# String Slicing
first_part = full_name[:4]
print("First Part:", first_part)

# String Methods
upper_name = full_name.upper()
print("Uppercase Name:", upper_name)

lower_name = full_name.lower()
print("Lowercase Name:", lower_name)

Full Name: Data Engineer
First Part: Data
Uppercase Name: DATA ENGINEER
Lowercase Name: data engineer

-------------------------------------------------------------------------------
#### Exercise 2: Python Functions

Task 3: Defining and Calling Functions

Description: This task will introduce students to functions in Python. They will learn how to define a function, pass arguments, and return values.

In [4]:
# Function Definition
def greet(name):
    return f"Hello, {name}! Welcome to Python for Data Engineers."

# Function Call
message = greet("Alice")
print(message)

Hello, Alice! Welcome to Python for Data Engineers.

Task 4: Functions with Multiple Arguments

Description: Expand on functions by introducing multiple arguments and default parameters.

In [5]:
# Function with Multiple Arguments
def calculate_area(length, width):
    return length * width

area = calculate_area(5, 3)
print("Area:", area)

# Function with Default Parameters
def power(base, exponent=2):
    return base ** exponent

result = power(4)  # Default exponent is 2
print("Power:", result)

Area: 15
Power: 16

-------------------------------------------------------------------------------
#### Exercise 3: Python Object-Oriented Programming (OOP)

Task 5: Creating a Simple Class

Description: Introduce object-oriented programming by creating a simple class. Students will learn about class attributes, methods, and instantiation.

In [6]:
# Class Definition
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width
    
    def area(self):
        return self.length * self.width
    
    def perimeter(self):
        return 2 * (self.length + self.width)

# Object Instantiation
rect = Rectangle(5, 3)

# Calling Methods
print("Area:", rect.area())
print("Perimeter:", rect.perimeter())

Area: 15
Perimeter: 16

Task 6: Inheritance in Python

Description: Introduce students to inheritance, allowing them to create a derived class that inherits attributes and methods from a base class.

In [8]:
# Inheritance
class Square(Rectangle):
    def __init__(self, side_length):
        super().__init__(side_length, side_length)

# Object Instantiation
square = Square(4)

# Calling Inherited Methods
print("Square Area:", square.area())
print("Square Perimeter:", square.perimeter())

Square Area: 16
Square Perimeter: 16

-------------------------------------------------------------------------------
#### Exercise 4: Error Handling in Python

Task 7: Basic Error Handling

Description: Teach students how to handle errors using try-except blocks

In [11]:
# Error Handling
try:
    num = int(input("Enter a number: "))
    result = 10 / num
    print("Result:", result)

except ZeroDivisionError:
    print("Error: Cannot divide by zero.")

except ValueError:
    print("Error: Invalid input. Please enter a number.")

Result: 1.6666666666666667

Task 8: Raising Exceptions

Description: Show students how to raise exceptions in Python to manage errors in their programs

In [10]:
# Raising Exceptions
def check_age(age):
    if age < 0:
        raise ValueError("Age cannot be negative.")
    return f"Your age is {age}"

try:
    print(check_age(-5))
except ValueError as e:
    print(e)

Age cannot be negative.

-------------------------------------------------------------------------------
#### Exercise 5: Additional Python Concepts

Task 9: Working with Lists and Dictionaries

Description: Introduce data structures like lists and dictionaries, covering basic operations such as indexing, appending, and accessing elements.

In [12]:
# Lists
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print("Fruits:", fruits)
print("First Fruit:", fruits[0])

Fruits: ['apple', 'banana', 'cherry', 'orange']
First Fruit: apple

In [13]:
# Dictionaries
student = {"name": "Alice", "age": 23, "course": "Data Engineering"}
print("Student Name:", student["name"])
print("Student Age:", student["age"])

Student Name: Alice
Student Age: 23

Task 10: File Handling

Description: Teach students how to read from and write to files in Python.

In [14]:
# Writing to a File
with open("data.txt", "w") as file:
    file.write("Hello, Data Engineers!")

# Reading from a File
with open("data.txt", "r") as file:
    content = file.read()
    print("File Content:", content)

File Content: Hello, Data Engineers!

-------------------------------------------------------------------------------
#### Exercise 6: Data Processing with Pandas

Task 11: Basic Data Processing with Pandas

Description: Introduce the Pandas library for basic data manipulation.

In [19]:
import pandas as pd

# Creating a DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [23, 30, 25],
    "Course": ["Data Engineering", "Data Science", "Data Analytics"],
    "Gender": ["F", "M", "M"]
}
df = pd.DataFrame(data)

# Accessing Data
print("DataFrame:")
print(df) # Display the entire DataFrame
df.head() # Display the first 5 rows

DataFrame:
      Name  Age            Course Gender
0    Alice   23  Data Engineering      F
1      Bob   30      Data Science      M
2  Charlie   25    Data Analytics      M

      Name  Age            Course Gender
0    Alice   23  Data Engineering      F
1      Bob   30      Data Science      M
2  Charlie   25    Data Analytics      M

In [20]:
# Basic Operations
print("Average Age:", df["Age"].mean())
print("Youngest Student:", df["Name"][df["Age"].idxmin()])
print("Number of Students:", len(df))
print("Column Names:", df.columns)
print("Number of Columns:", len(df.columns))

Average Age: 26.0
Youngest Student: Alice
Number of Students: 3
Column Names: Index(['Name', 'Age', 'Course', 'Gender'], dtype='object')
Number of Columns: 4